html,
body {
	height: 100%;
	margin: 0;
}

body {
background-color: #262626;
	background-size: cover;
	background-position: center;
	text-align: center;
}

.header {
	color: lightcoral;
	font-family: 'Yeon Sung';
	font-size: 45px;
	letter-spacing: 10px;
	margin-top: 80px;
}

.header img {
	width: 200px;
	margin-left: -15px;
}

.login_div {
	float: none;
	border-radius: 15px;
	width: 100%;
	text-align: center;
}

.logo {
	width: 200px;
	margin-top: 30px;
}

#login_button {
	width: 80%;
	border-radius: 15px;
	background-color: #255C99;
	color: white;
}
#login_button:hover{
	background-color: #7EA3CC;
	color:#262626;

}

.room_name {
	cursor: pointer;
	font-size: 20px;
}


#logout {
	font-size: 20px;
	float: right;
	margin-top: 25px;
	background-color: #B3001B;
	color: white;
}
#logout:hover{
	background-color: #9d3d4b;
	color: #262626;
}

#add_room{
	background-color: #255C99;
	color: white;
}
#add_room:hover{
	background-color: #7EA3CC;
	color:#262626;

}
#output {
	padding: 10px;
	width: 80%;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 15px;
	max-height: 400px;
	overflow: auto;

}

.input_div_room_page {
	width: 80%;
}

.input_div label {
	color: white;
	font-size: 20px;
}


.input_div_message_page {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background: rgba(255, 255, 255, 0.8);
}

.input_div_message_page label {
	color: black;
}

.input_div_message_page #msg {
	width: 80%;
}

.input_div_message_page button {
	margin-top: 15px;
	width: 50%;
}

.color_white {
	color: white;
	font-weight: bold;
}

.user_tick {
	width: 20px;
}

.message_h4 {
	padding-left: 5px;
	color: grey;
	max-width: 80%;
	font-family: fasthand;
	
}

.message_h4 img{
width: auto !important; /*override the width below*/
width: 100%;
max-width: 678px;
clear: both;
}


@media screen and (max-width: 1000px) {
	.message_h4 img{
		width: auto !important; /*override the width below*/
		width: 100%;
		max-width: 478px;
		clear: both;
		}
  }

  @media screen and (max-width: 650px) {
	.message_h4 img{
		width: auto !important; /*override the width below*/
		width: 100%;
		max-width: 278px;
		clear: both;
		}
  }

  @media screen and (max-width: 450px) {
	.message_h4 img{
		width: auto !important; /*override the width below*/
		width: 100%;
		max-width: 178px;
		clear: both;
		font-size: large !important;
		}
  }

  @font-face {
	font-family: fasthand;
	src: url(Fasthand-Regular.ttf);
	font-weight: bold;
  }

.glyphicon glyphicon-thumbs-up {
	margin-right: 5px;
}

.time {
	float: right;
	color: gray;
	font-weight: 200;
}

#output button{
	background-color: #CCAD8F;
}

hr {
	background-color: black !important;
	fill: black !important;
	border: 0.125px solid rgba(0, 0, 0, 0);
}

textarea {
	resize: vertical;
	max-height: 350px;
	min-height: 50px;
}
.sp{
	background-color: #255C99;
	color: white;
}
.sp:hover{
	background-color: #7EA3CC;
	color:black

}
@media screen and (max-width: 299px) {
    .sp {
        font-size: 0.4em;
    }
}

@media screen and (min-width: 300px) and (max-width: 799px) {
    .sp{
        font-size: 0.7em;
    }
}

@media screen and (min-width: 800px) {
    .sp {
        font-size: 1.5em;
    }
}
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
