html,
body {
	height: 100%;
	margin: 0;
}

body {
	background-image: url("https://wallpapercave.com/wp/wp5641684.jpg");

	background-size: cover;
	background-position: center;
	text-align: center;
}

.header {
	color: lightcoral;
	font-family: 'Yeon Sung';
	font-size: 45px;
	letter-spacing: 10px;
	margin-top: 80px;
}

.header img {
	width: 80px;
	margin-left: -15px;
}

.login_div {
	background: rgba(255, 255, 255, 0.8);
	float: none;
	border-radius: 15px;
	width: 100%;
	text-align: center;
}

.logo {
	width: 80px;
	margin-top: 30px;
}

#login_button {
	width: 80%;
	border-radius: 15px;
}

.room_name {
	cursor: pointer;
	font-size: 20px;
}


#logout {
	font-size: 20px;
	float: right;
}


#output {
	padding: 10px;
	width: 80%;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 15px;
	max-height: 400px;
	overflow: auto;
}

.input_div_room_page {
	width: 80%;
}

.input_div label {
	color: white;
	font-size: 20px;
}


.input_div_message_page {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background: rgba(255, 255, 255, 0.8);
}

.input_div_message_page label {
	color: black;
}

.input_div_message_page #msg {
	width: 80%;
}

.input_div_message_page button {
	margin-top: 15px;
	width: 50%;
}

.color_white {
	color: white
}

.user_tick {
	width: 20px;
}

.message_h4 {
	padding-left: 5px;
	color: grey;
	max-width: 80%;
}

.glyphicon glyphicon-thumbs-up {
	margin-right: 5px;
}

.time {
	float: right;
	color: gray;
	font-weight: 200;
}

hr {
	background-color: black !important;
	fill: black !important;
}

textarea {
	resize: vertical;
	max-height: 350px;
	min-height: 50px;
}